@page "/about"

<div id="about-bg"></div>

<div class="content">
    <MudTimeline>
        <MudTimelineItem Color="Color.Surface" Size="Size.Small" Variant="Variant.Filled">
            <ItemOpposite>
                <MudText Color="Color.Surface" Typo="Typo.h5">???. B.D.</MudText>
            </ItemOpposite>
            <ItemContent>
                <MudText Color="Color.Surface" Typo="Typo.h6" GutterBottom="true">- - -</MudText>
                <MudText>- - -</MudText>
            </ItemContent>
        </MudTimelineItem>
        <MudTimelineItem Color="Color.Secondary" Size="Size.Small" Variant="Variant.Filled">
            <ItemOpposite>
                <MudText Color="Color.Secondary" Typo="Typo.h5">353 B.D.</MudText>
            </ItemOpposite>
            <ItemContent>
                <MudText Color="Color.Secondary" Typo="Typo.h6" GutterBottom="true">Dragonrider</MudText>
                <MudText>The tale of the last man who lived.</MudText>
            </ItemContent>
        </MudTimelineItem>
    </MudTimeline>

    <h6 class="nav-title" style="font-size:20px; align-self: center; margin-top: 8px;">THE GREAT DIVINE WAR</h6>

    <MudTimeline Reverse="true">
        <MudTimelineItem Color="Color.Success" Size="Size.Small" Variant="Variant.Filled">
            <ItemOpposite>
                <MudText Color="Color.Success" Typo="Typo.h5">184 A.D.</MudText>
            </ItemOpposite>
            <ItemContent>
                <MudText Color="Color.Success" Typo="Typo.h6" GutterBottom="true">Evergreen</MudText>
                <MudText>The story of the most powerful druid and dryad of Alcarodia: Anastasia Evergreen.</MudText>
            </ItemContent>
        </MudTimelineItem>
        <MudTimelineItem Color="Color.Dark" Size="Size.Small" Variant="Variant.Filled">
            <ItemOpposite>
                <MudText Color="Color.Dark" Typo="Typo.h5">???. A.D.</MudText>
            </ItemOpposite>
            <ItemContent>
                <MudText Color="Color.Dark" Typo="Typo.h6" GutterBottom="true">Crimes Against Humanity</MudText>
                <MudText>- - -</MudText>
            </ItemContent>
        </MudTimelineItem>
        <MudTimelineItem Color="Color.Tertiary" Size="Size.Small" Variant="Variant.Filled">
            <ItemOpposite>
                <MudText Color="Color.Tertiary" Typo="Typo.h5">464 A.D.</MudText>
            </ItemOpposite>
            <ItemContent>
                <MudText Color="Color.Tertiary" Typo="Typo.h6" GutterBottom="true">The Zagûl Wars</MudText>
                <MudText>The tale of the immortal who lived five hundred years.</MudText>
            </ItemContent>
        </MudTimelineItem>
        <MudTimelineItem Color="Color.Info" Size="Size.Small" Variant="Variant.Filled">
            <ItemOpposite>
                <MudText Color="Color.Info" Typo="Typo.h5">1035 A.D.</MudText>
            </ItemOpposite>
            <ItemContent>
                <MudText Color="Color.Info" Typo="Typo.h6" GutterBottom="true">A New World</MudText>
                <MudText>The immortal, Cassius Bloodgood, mines something that should have never been mined... </MudText>
            </ItemContent>
        </MudTimelineItem>
        <MudTimelineItem Color="Color.Dark" Size="Size.Small" Variant="Variant.Filled">
            <ItemOpposite>
                <MudText Color="Color.Dark" Typo="Typo.h5">1048 A.D.</MudText>
            </ItemOpposite>
            <ItemContent>
                <MudText Color="Color.Dark" Typo="Typo.h6" GutterBottom="true">Alcarodian Dungeons</MudText>
                <MudText>- - -</MudText>
            </ItemContent>
        </MudTimelineItem>
        <MudTimelineItem Color="Color.Error" Size="Size.Small" Variant="Variant.Filled">
            <ItemOpposite>
                <MudText Color="Color.Error" Typo="Typo.h5">1056 A.D.</MudText>
            </ItemOpposite>
            <ItemContent>
                <MudText Color="Color.Error" Typo="Typo.h6" GutterBottom="true">Titanslayer</MudText>
                <MudText>The book of love, the book of the people.</MudText>
            </ItemContent>
        </MudTimelineItem>
        <MudTimelineItem Color="Color.Primary" Size="Size.Small" Variant="Variant.Filled">
            <ItemOpposite>
                <MudText Color="Color.Primary" Typo="Typo.h5">1500 A.D.</MudText>
            </ItemOpposite>
            <ItemContent>
                <MudText Color="Color.Primary" Typo="Typo.h6" GutterBottom="true">Cataclysm</MudText>
                <MudText>The beginning of the Immortal Wars.</MudText>
            </ItemContent>
        </MudTimelineItem>
    </MudTimeline>

    <h6 class="nav-title" style="font-size:20px; align-self: center; margin-top: 8px; text-shadow: 0px 0px 0px rgba(255, 0, 0, 0.5);">THE END OF ALCARODIA</h6>
</div>