@page "/contact"

<div class="about">
    <img src="../Ca.png" class="Ca" width="512" height="512" />

    <p class="Ca">Lorem ipsum odor amet, consectetuer adipiscing elit. Volutpat vehicula himenaeos placerat nam dignissim. Nibh viverra velit mus dis elementum mauris gravida enim ultrices? Pharetra euismod mus porta neque vestibulum aenean vivamus metus neque. Sodales praesent vivamus mollis dignissim platea. Mi nulla ipsum rhoncus tempus primis varius lectus accumsan. Fringilla tincidunt habitant in magnis vel duis nibh semper. Varius ullamcorper congue enim neque amet curae tempus. Ornare quam in ante a malesuada ut diam nec.</p>
</div>

<div id="parchment"></div>
<svg class="ignoresvg">
  <filter id="wavy2">
    <feTurbulence x="0" y="0" baseFrequency="0.02" numOctaves="5" seed="42069"></feTurbulence>
    <feDisplacementMap in="SourceGraphic" scale="20" />
  </filter>
</svg>