@page "/"
@rendermode InteractiveServer

<div class="parallax @(IsMoving ? "" : "transition")" @onmousemove="MoveParallax" @onmouseleave="ResetParallax" style="@parallaxStyle"></div>

@code {
    private double _w = 960;
    private double _h = 540;
    private double _mouseX;
    private double _mouseY;
    private bool IsMoving = false;
    string parallaxStyle = "background-position: 50%, 50%, 50%";

    private void MoveParallax(MouseEventArgs e)
    {
        IsMoving = true;
        _mouseX = e.ClientX;
        _mouseY = e.ClientY;
        
        string _depth1 = $"{50 - (_mouseX - _w) * -0.003}% {50 - (_mouseY - _h) * -0.003}%";
        string _depth2 = $"{50 - (_mouseX - _w) * -0.02}% {50 - (_mouseY - _h) * -0.02}%";
        string _depth3 = $"{50 - (_mouseX - _w) * -0.06}% {50 - (_mouseY - _h) * -0.06}%";
        parallaxStyle = $"background-position: {_depth3}, {_depth2}, {_depth1};";
    }

    private void ResetParallax()
    {
        IsMoving = false;
        parallaxStyle = "background-position: 50%, 50%, 50%";
    }
}
