.AuthorPage {
    border-radius: 10px;
    border: 1px solid black;
}

.AuthorPageContent {
    margin: 30px;
    display: flex;
}

.AuthorDescription {
    width: 100%;
    display: flex;
    font-size: large;
    text-align: center;
    margin-left: 30px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 999px) {
    .AuthorPageContent {
        flex-direction: column;
        align-items: center;
    }

    .AuthorDescription {
        margin-left: 0px;
    }
}