/* .AuthorPageBackground {
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #FD8787;
} */

.AuthorImage {
    max-width: 200px;
    border-radius: 10px;
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
}

.AuthorImage:hover {
    filter: grayscale(0%);
}

.AuthorPage {
    border: 2px solid black;
    border-radius: 10px;
}

.AuthorPageContent {
    margin: 30px;
}