.ContactPageBackground {
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #424242;
}

.ContactPage {
    border: 2px solid black;
    border-radius: 10px;
}