.ProjectsPage {
    border: 1px solid black;  /* REMOVE */
    border-radius: 10px;        /* REMOVE */
    display: flex;
    flex-direction: row;
}

/* .ProjectsPageOLD {
    border: 1px solid black;
    border-radius: 10px;
} */

.ProjectsPageContentCardRow {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.ProjectsPageContentCard {
    margin: 30px;
    border: 1px solid black;  /* REMOVE */
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}