.HomepageBackground {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    /* background-color: #001F3F; */
    background-size: 50%, 50%, 50%;
    background-repeat: no-repeat;
    background-image: url("../../public/alcarodia-piece.svg"),
                      url("../../public/world-piece.svg"), 
                      url("../../public/ring-piece.svg");
}

.HomepageBackground.transition {
    transition: background-position 1s ease-in-out;
}

@keyframes return {
    100% {
        background-position: 50%, 50%, 50%;
    }
}